.extra-widget-settings {}

div.extra-widget-settings .acf-label {
  float: left;
}

div.extra-widget-settings .acf-bl > li {
  float: left;
  left: 10px;
  position: relative;
  top: -4px;
}

.acf-fc-collapse-all {
  float: right;
  position: relative;
  top: -26px;
  padding: 5px 10px;
  text-decoration: none;
}

.acf-fc-collapse-all::before {
  content: '\f140';
  font: normal 14px/14px 'dashicons';
}

.acf-field-image .acf-image-uploader img {
  max-height: 256px;
}

.postbox-container .hndle {
  background: #e2e2e2;
  background: -moz-linear-gradient(left, #e2e2e2 0%, #e2e2e2 41%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e2e2e2), color-stop(41%, #e2e2e2), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(left, #e2e2e2 0%, #e2e2e2 41%, #cccccc 100%);
  background: -o-linear-gradient(left, #e2e2e2 0%, #e2e2e2 41%, #cccccc 100%);
  background: -ms-linear-gradient(left, #e2e2e2 0%, #e2e2e2 41%, #cccccc 100%);
  background: linear-gradient(to right, #e2e2e2 0%, #e2e2e2 41%, #cccccc 100%);
}

#postbox-container-1.postbox-container .hndle {
    background: #cccccc;
}

.postbox-container .acf-fc-layout-handle {
  background: #2ea2cc;
  background: -moz-linear-gradient(left, #2ea2cc 80%, #0073aa 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(80%, #2ea2cc), color-stop(100%, #0073aa));
  background: -webkit-linear-gradient(left, #2ea2cc 80%, #0073aa 100%);
  background: -o-linear-gradient(left, #2ea2cc 80%, #0073aa 100%);
  background: -ms-linear-gradient(left, #2ea2cc 80%, #0073aa 100%);
  background: linear-gradient(to right, #2ea2cc 80%, #0073aa 100%);
  color: white !important;
}

@media only screen and (min-height:700px) {
  #post-body.columns-2 #postbox-container-1 {
    margin-right: 0;
    top: 98px;
    position: fixed;
    right: 20px;
    max-height: calc(100vh - 118px);
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 850px) {
  #post-body.columns-2 #postbox-container-1 {
    top: 0;
    position: relative;
    right: 0;
  }
}

.acf-fc-popup, .acf-fc-popup ul, .acf-fc-popup li, .acf-fc-popup a{
  border-radius: 0 !important;
}
.acf-fc-popup{
  border-top: #2B2F31 solid 1px;
  border-right: #2B2F31 solid 1px;
}
.acf-fc-popup li{
  border-left: #2B2F31 solid 1px;
}
.acf-fc-popup ul{
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}
